<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>
    <h1>Add a New Book Title and Review</h1>
    <form action = "/display_books" method = "POST">
        {% csrf_token %}
        <label for="title">Title:<input type="text" name="title" id="title"></label>
        <label for="author">Author:<input type="text" name="author" id="author"></label>
        <label for="desc">Description:<textarea name="desc" id="desc"></textarea></label>
        <select id = "rate" name = "rate">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
            <option value = "4">4</option>
            <option value = "5">5</option>
        </select>
        <input type="submit" value="Add Book and Review">
        {% if messages %}
        <ul class = flashes >
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </form>
    
</body>
</html>