<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Title:{{title}}</h1>
    <h2>Author: {{author}}</h2>
    Reviews:
    <ul>{%for word in reviews%}
        
        <li><a href="/user_info">{{word.writter.alias}}</a>says: {{word.review}}</li>
        {%endfor%}
    </ul>
    <div id = "add_book">
        <p><a href="/delete">Delete Review </a></p>
    </div>
    <div id = "logout">
        <p><a href="/back">Logout</a></p>
    </div>
</body>
</html>