<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>
    <h1>User Info</h1>
    <h2>Alias: {{alias}}</h2>
    <h2>Name: {{name}}</h2>
    <h2>Number of Reviews: {{num}}</h2>
    <h2>Email: {{email}}</h2>
    <div id = "logout">
        <p><a href="/back">Logout</a></p>
    </div>
    <p><a href="/go_add_and_review">Add Review</a></p>
    <p><a href="/home">Home</a></p>
    
    
</body>
</html>